html, body{
	margin: 0;
	padding: 0;
	background-image: url('ksp.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*hide elements not relevant for current mode*/
.mobile_menu-button{
	position: absolute;
	top: -50px;
}
.mobile_menu-button_clicked{
	position: absolute;
	top: -50px;
}
/*container for all the elements*/
#container{
	width: 90%;
	margin: 0 auto;
}
/*header and menu*/
#header{
	width: 100%;
	margin: 0 0 10px 0;
	background-color: rgba(200, 200, 200, 0.5);
}
#header img{
	margin: 0 10px 0 0;
	background-image: url('logo.png');
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
}
#header h1{
	display: inline-block;
	margin: 0 0 0 10px;
}
#menu{
	width: 100%;
	padding: 0;
	margin: 0;
}
.menu-item{
	height: 26px;
	padding: 2px;
	margin: 0px 5px 0px 5px;
	display: block;
	float: left;
	cursor: pointer;
	font-weight: bold;
}
/*content*/
#content{
	width: 58%;
	padding: 1%;
	float: left;
	background-color: rgba(200, 200, 200, 0.5);
}
/*widgets*/
#widgets{
	width: 40%;
	float: left;
	background-color: rgba(200, 200, 200, 0.5);
}
.widget{
	height: 100px;
	border: 2px solid #000;
	margin-bottom: 1px;
}