html, body{
	margin: 0;
	padding: 0;
}
/*hide elements not relevant for current mode*/
#mobile_menu{
	display: none;
}
.mobile_menu-button{
	position: absolute;
	top: -50px;
}
.mobile_menu-button_clicked{
	position: absolute;
	top: -50px;
}
/*container for all the elements*/
#container{
	width: 75%;
	margin: 0 auto;
}
/*header and menu*/
#header{
	width: 100%;
	margin: 0 0 10px 0;
}
#header img{
	margin: 0 10px 0 0;
	background-image: url('logo.png');
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
}
#header h1{
	display: inline-block;
	margin: 0 0 0 10px;
}
#normal_menu{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(200, 200, 200, 0.4);
}
.normal_menu-item{
	height: 26px;
	padding: 2px;
	margin: 0px 5px 0px 5px;
	display: block;
	float: left;
	cursor: pointer;
	font-weight: bold;
}
/*content*/
#content{
	width: 68%;
	padding: 1%;
	float: left
}
/*widgets*/
#widgets{
	width: 30%;
	float: left;
}
.widget{
	height: 50px;
	border: 2px solid #000;
	margin-bottom: 1px;
}