html, body{
	margin: 0;
	padding: 0;
}

#container{
	width: 1024px;
	margin: 0 auto;
}
#header{
	width: 1024px;
	height: 160px;
	background-image: url('header.jpg');
	position: relative;
}
#menu{
	position: absolute;
	bottom: 0px;
}
.menu-item{
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: red;
}
#content{
	width: 768px;
	min-height: 500px;
	background-color: #f00;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#widgets{
	width: 256px;
	min-height: 500px;
	background-color: blue;
	display: inline-block;
	padding: 0;
	margin: 0;
}